@charset "UTF-8";
body {
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  }
a{
  color: #fff;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

.cat__0 {
      margin-top: 20px;
      margin-right: 10px;
      margin-bottom: 20px;
      margin-left: 10px;
}

.cat__2 {
      margin-top: 20px;
      margin-right: 10px;
      margin-bottom: 20px;
      margin-left: 10px;
    }

h2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px;
  font-size: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Helvetica, Arial, sans-serif;
    }

.videoContainer__0 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videoContainer__1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videoContainer__2 {
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
}
img {
  width: 33em;
  padding: 1em;
}
.DIV{
  margin-left: 10%;
  margin-right: 10%;
}
.poster{
  margin:none;
  padding: none;
}

.p {
  position: absolute;
  right: 10px;
  bottom: 20px;
  padding: 0 5px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); }
}

@media (max-width: 600px)  {
  .videoContainer__0 {
    display: flex;
    flex-direction: column;
  }

  .videoContainer__1 {
    display: flex;
    flex-direction: column;
  }

  .videoContainer__2 {
    display: flex;
    flex-direction: column;
  }
